@inherits LayoutComponentBase

<PageTitle>Travel Planner</PageTitle>

<div class="page">
    <main>
        <NavMenu />
         <AuthorizeView>
            <Authorized>
                <article class="content px-4" style="margin-top: 20px;">@Body</article>
            </Authorized>
            <NotAuthorized>
                <MudAlert Severity="Severity.Info" ContentAlignment="HorizontalAlignment.Center">
                    <form method="post" action="login">
                        <p style="display: inline-block; margin-right: 10px;">You are not logged in</p>
                        <MudButton ButtonType="ButtonType.Submit" StartIcon="@Icons.Material.Filled.Login" Variant="Variant.Filled" Color="Color.Primary" Size="Size.Small">
                            Log in
                        </MudButton>
                    </form>
                </MudAlert>
            </NotAuthorized>
        </AuthorizeView>
    </main>
</div>

<MudThemeProvider />
<MudDialogProvider />
<MudSnackbarProvider />