<div style="display: inline-block;">
    <MudNavLink Href="@Route" Match="NavLinkMatch.All">
        <div class="menu-item-icon">
            <MudIcon Icon="@Icon" Color="Color.Surface" />
        </div>
        <MudHidden Breakpoint="Breakpoint.Xs">@Title</MudHidden>
    </MudNavLink>
</div>